@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Roboto+Condensed:ital,wght@1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    /* border: 2px solid red */
    font-family: 'Comic Neue', cursive;
    font-family: 'Roboto Condensed', sans-serif;  
}
a {
    color: blue;
    text-decoration: none; /* no underline */
  }
a:hover{
    cursor: pointer;
    color: brown;
}
html{
  background-color: lightgoldenrodyellow;
}
.mainDiv{
    padding-top: 2%; 
    padding-bottom: 3%; 
    margin-left: 15%;
    background-color: burlywood;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 70%;
}
.bannerDiv{
    width: 50%;
    height: 20%;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
}
.bannerImage{
    padding: 2%;
}

h1{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-shadow: 2px 1px lightgoldenrodyellow;
}
.menuBar{
    width: 100%;
    height: 3.5vw;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 15%;
}
.menuButton{
    border-style: none;
    width: 10%;
    font-size: 1rem;
    background-color: black;
    color: white;
}
.menuButton:hover{
    background-color: lightgray;
    color: black;
}
.cardDiv{
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.cardImage{
    height: auto;
    width: 45rem;
    max-width: 90%;
}



/* contact page */
.mainDiv.contact{
    padding-top: 2%; 
    padding-bottom: 3%; 
    margin-left: 15%;
    height: 100vh;
    background-color: burlywood;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 70%;
}
.cardDiv.contact{
    color:black;
    background-color: lightgray;
    border-radius: 25px;
    width: 40%;
    height: 10%;
    padding: 1%;
    display: grid;
    grid-template-rows: 40% 40%;
    grid-template-columns: 30% 70%;
    border-left: 10px solid black;
}
.contactHeader{
    grid-row: 1/2;
    grid-column: 1/3;
    margin-left: auto;
    margin-right: auto;
}
.contactP{
    font-style: none;
    grid-row: 2/3;
    grid-column: 2/3;
    margin-left: 10%;
}
.contactImage{
    grid-row: 1/3;
    grid-column: 1/2;
    height: 70%;
    width: 50%;
    margin-left: 30%;
}
/* contact page */

.mainAboutDiv{
    padding-top: 2%; 
    padding-bottom: 3%; 
    margin-left: 15%;
    height: 100vh;
    background-color: lightgray;
    color: black;
    display: grid;
    grid-template-rows: 10% 25% 30%;
    grid-template-columns: 40% 60%;
    width: 70%;
}
.mainAboutDiv > h1{
    grid-row: 1/2;
    grid-column: 1/3;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutImageDiv{
    grid-row: 2/4;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    background-color: burlywood;
    border-radius: 25px;
    margin-left: 5%;
    border-left: 10px solid black;
}
.cardAboutImage{
    height: 90%;
    width: 90%;
    border-radius: 25px;
    justify-self: center;
}
.aboutDiv{
    grid-row: 2/4;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    height: 85%;
    width: 80%;
    padding: 5%;
    background-color: burlywood;
    border-radius: 25px;
    justify-self: center;
    border-left: 10px solid black;
}
.skills1Div{
    grid-column: 1/3;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: burlywood;
    border-radius: 25px;
    margin: 2%;
    border-left: 10px solid black;
}
.skillsDiv{
    width: 100%;
    display: flex;
    justify-content: space-around;
}